# IDE
.vscode/
.idea/
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Database
*.db
*.sqlite3

# Storage & Assets
storage/uploads/*
storage/screenshots/*
!storage/uploads/.gitkeep
!storage/screenshots/.gitkeep

# User requested to ignore
training/
Floating-Trash-Detection-1/
scripts/
runs/
datasets/
AquaWatch_AI_PRD.docx
prd.md

# AI Models (Do not push heavy weights, except the main one)
*.pt
!yolov8s.pt
